{% for block in section.blocks %}
  <div class="container-fluid super-hero d-none d-sm-block">
    <img class="img-fluid fill-width" src="{{ block.settings.hero-image-background | img_url: "master" }}" alt="{{ block.settings.image-alt-text }}">
    <span class="headline">
      <h2 style="color:{{ block.settings.headline_color }};" class="headline-title">{{ block.settings.image_headline }}</h2>
      <h2 style="color:{{ block.settings.headline_color }};" class="headline-sub-title">{{ block.settings.image_sub_headline }}</h2>
      <a class="btn btn-primary btn-lg jumbotron-button" href="{{ block.settings.link }}" role="button">{{ block.settings.button-text }}</a>
    </span>
  </div>
  <div class="container-fluid super-hero d-sm-none">
    <img class="img-fluid fill-width" src="{{ block.settings.hero-image-mobile | img_url: "master" }}" alt="{{ block.settings.image-alt-text }}">
    <span class="headline">
      <h2 style="color:{{ block.settings.headline_color }};" class="headline-title">{{ block.settings.image_headline }}</h2>
      <h2 style="color:{{ block.settings.headline_color }};" class="headline-sub-title">{{ block.settings.image_sub_headline }}</h2>
    </span>
    <a class="btn btn-primary btn-lg jumbotron-button" href="{{ block.settings.link }}" role="button">{{ block.settings.button-text }}</a>
  </div>
{% endfor %}

{% schema %}

{
  "name": "Hero Banner",
  "class": "hero-banner-section",
  "settings": [],
  "max_blocks": 1,
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero-image-background",
          "label": "Image",
          "info": "2048px x 1018px recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "image_headline",
          "label": "Image Title"
        },
        {
          "type": "text",
          "id": "image_sub_headline",
          "label": "Image Sub-Title"
        },
        {
          "type": "color",
          "id": "headline_color",
          "label": "Image Text Color"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "image-alt-text",
          "label": "Image Alt Text",
          "info": "Be concise and descriptive"
        },
        {
          "type": "image_picker",
          "id": "hero-image-mobile",
          "label": "Mobile Image",
          "info": "750px x 956px recommended"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}

@media (min-width: 576px) {
  .headline {
    text-align: right;
    top: 50%;
    right: 15%;
  }

  .jumbotron-button {
    width: 206px;
    height: 40px;
  }
}

@media (max-width: 575.98px) {
  .headline {
    top: 10%;
    right: 25%;
    text-align: center;
  }

  .jumbotron-button {
    position: absolute;
    vertical-align: center;
    bottom: 10%;
    right: 40%;
  }
}

@media (min-width: 992px) {
  .headline-title, .headline-sub-title {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 4.5px;
  }

  .jumbotron-button {
    margin-top: 64px;
    padding-top: 11px;
  }
}

@media (max-width: 991.98px) {
  .headline-title, .headline-sub-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2.5px;
  }
}

.fill-width {
  width: 100%;
}

.headline {
  position: absolute;
}

.super-hero {
  position: relative;
}

.headline-title, .headline-sub-title {
  font-family: prompt;
}

.jumbotron-button {
  border-radius: 0px;
  background-color: #ffffff;
  color: #363636;
  font-family: prompt;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  border: none;
}

.jumbotron-button:hover {
  background-color: #222222;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
