<div class="container mt-60">
  <div class="col-1-sm"></div>
  <div class="col-10-sm">
    <h2 class="product-line d-flex homepage-header">
      THE PARTS
      <div class="divider-line"></div>
    </h2>
    <div class="row">
      <div class="col-sm-12 tagline">
        We have a selection of performance auto parts.
      </div>
    </div>
    <div class="row overflow-hidden mt-36">
      <div class="col-sm-6 hover-group">
        <div class="hover-background red-border">
          <a href="{{ section.settings.top_left_url }}">
            <img class="img-fluid hover-img" src="{{ section.settings.top_left_image | img_url: "master" }}" alt="{{ section.settings.top_left_alt }}">
            <span class="hover-text">
              {{ section.settings.top_left_text }}
            </span>
          </a>
        </div>
      </div>
      <div class="col-sm-3 hover-group mt-mobile-24">
        <div class="hover-background red-border">
          <a href="{{ section.settings.top_center_url }}">
            <img class="img-fluid hover-img" src="{{ section.settings.top_center_image | img_url: "master" }}" alt="{{ section.settings.top_center_alt }}">
            <span class="hover-text">
              {{ section.settings.top_center_text }}
            </span>
          </a>
        </div>
      </div>
      <div class="col-sm-3 hover-group mt-mobile-24">
        <div class="hover-background red-border">
          <a href="{{ section.settings.top_right_url }}">
            <img class="img-fluid hover-img" src="{{ section.settings.top_right_image | img_url: "master" }}" alt="{{ section.settings.top_right_alt }}">
            <span class="hover-text">
              {{ section.settings.top_right_text }}
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row overflow-hidden">
      <div class="col-sm-3 hover-group mt-mobile-24">
        <div class="hover-background red-border">
          <a href="{{ section.settings.bottom_left_url }}">
            <img class="img-fluid hover-img" src="{{ section.settings.bottom_left_image | img_url: "master" }}" alt="{{ section.settings.bottom_left_alt }}">
            <span class="hover-text">
              {{ section.settings.bottom_left_text }}
            </span>
          </a>
        </div>
      </div>
      <div class="col-sm-3 hover-group">
        <div class="hover-background red-border mt-mobile-24">
          <a href="{{ section.settings.bottom_center_url }}">
            <img class="img-fluid hover-img" src="{{ section.settings.bottom_center_image | img_url: "master" }}" alt="{{ section.settings.bottom_center_alt }}">
            <span class="hover-text">
              {{ section.settings.bottom_center_text }}
            </span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 hover-group">
        <div class="hover-background red-border mt-mobile-24">
          <a href="{{ section.settings.bottom_right_url }}">
            <img class="img-fluid hover-img" src="{{ section.settings.bottom_right_image | img_url: "master" }}" alt="{{ section.settings.bottom_right_alt }}">
            <span class="hover-text">
              {{ section.settings.bottom_right_text }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1-sm"></div>
</div>

{% schema %}

{
  "name": "Recommendations",
  "class": "recommendations-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "top_left_image",
      "label": "Top Left Image",
      "info": "Recommended 1000px x 500px"
    },
    {
      "type": "text",
      "id": "top_left_alt",
      "label": "Top Left Picture Description (Alt Text)",
      "info": "This is for SEO purposes"
    },
    {
      "type": "url",
      "id": "top_left_url",
      "label": "Top Left Link"
    },
    {
      "type": "text",
      "id": "top_left_text",
      "label": "Top Left Visible Text",
      "info": "This is what will actually show on the page"
    },
    {
      "type": "image_picker",
      "id": "top_center_image",
      "label": "Top Center Image",
      "info": "Recommended 500px x 500px"
    },
    {
      "type": "text",
      "id": "top_center_alt",
      "label": "Top Center Picture Description (Alt Text)",
      "info": "This is for SEO purposes"
    },
    {
      "type": "url",
      "id": "top_center_url",
      "label": "Top Center Link"
    },
    {
      "type": "text",
      "id": "top_center_text",
      "label": "Top Center Visible Text",
      "info": "This is what will actually show on the page"
    },
    {
      "type": "image_picker",
      "id": "top_right_image",
      "label": "Top Right Image",
      "info": "Recommended 500px x 500px"
    },
    {
      "type": "text",
      "id": "top_right_alt",
      "label": "Top Right Picture Description (Alt Text)",
      "info": "This is for SEO purposes"
    },
    {
      "type": "url",
      "id": "top_right_url",
      "label": "Top Right Link"
    },
    {
      "type": "text",
      "id": "top_right_text",
      "label": "Top Right Visible Text",
      "info": "This is what will actually show on the page"
    },
    {
      "type": "image_picker",
      "id": "bottom_left_image",
      "label": "Bottom Left Image",
      "info": "Recommended 500px x 500px"
    },
    {
      "type": "text",
      "id": "bottom_left_alt",
      "label": "Bottom Left Picture Description (Alt Text)",
      "info": "This is for SEO purposes"
    },
    {
      "type": "url",
      "id": "bottom_left_url",
      "label": "Bottom Left Link"
    },
    {
      "type": "text",
      "id": "bottom_left_text",
      "label": "Bottom Left Visible Text",
      "info": "This is what will actually show on the page"
    },
    {
      "type": "image_picker",
      "id": "bottom_center_image",
      "label": "Bottom Center Image",
      "info": "Recommended 500px x 500px"
    },
    {
      "type": "text",
      "id": "bottom_center_alt",
      "label": "Bottom Center Picture Description (Alt Text)",
      "info": "This is for SEO purposes"
    },
    {
      "type": "url",
      "id": "bottom_center_url",
      "label": "Bottom Center Link"
    },
    {
      "type": "text",
      "id": "bottom_center_text",
      "label": "Bottom Center Visible Text",
      "info": "This is what will actually show on the page"
    },
    {
      "type": "image_picker",
      "id": "bottom_right_image",
      "label": "Bottom Right Image",
      "info": "Recommended 1000px x 500px"
    },
    {
      "type": "text",
      "id": "bottom_right_alt",
      "label": "Bottom Right Picture Description (Alt Text)",
      "info": "This is for SEO purposes"
    },
    {
      "type": "url",
      "id": "bottom_right_url",
      "label": "Bottom Right Link"
    },
    {
      "type": "text",
      "id": "bottom_right_text",
      "label": "Bottom Right Visible Text",
      "info": "This is what will actually show on the page"
    }
  ],
  "presets": [
    {
      "name": "Recommendations",
      "category": "Inventory List"
    }
  ]
}
{% endschema %}

{% stylesheet %}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 576px) {
  .spacer {
    height: 24px;
  }

  .hover-img {
    height: 11vw;
  }
}

@media (max-width: 575.98px) {
  .hover-group {
    padding-left: 15%;
    padding-right: 15%;
  }

  .mt-mobile-24 {
    margin-top: 24px;
  }

  .hover-img {
    height: 70vw;
  }
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  line-height: 2.76;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-align: center;
}

.hover-group:hover .hover-text {
  display: block
}

.hover-group:hover .hover-img {
  opacity: .25;
}

.hover-group:hover .hover-background {
  background: gray;
}

.hover-img {
  width: 100%;
  object-fit: cover;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
