{% assign brand_0 = collections[section.blocks[0].settings.recommended_brand] %}
{% assign brand_1 = collections[section.blocks[1].settings.recommended_brand] %}
{% assign brand_2 = collections[section.blocks[2].settings.recommended_brand] %}
{% assign brand_3 = collections[section.blocks[3].settings.recommended_brand] %}
{% assign brand_4 = collections[section.blocks[4].settings.recommended_brand] %}
{% assign brand_5 = collections[section.blocks[5].settings.recommended_brand] %}
{% assign brand_6 = collections[section.blocks[6].settings.recommended_brand] %}
{% assign brand_7 = collections[section.blocks[7].settings.recommended_brand] %}
{% assign brand_8 = collections[section.blocks[8].settings.recommended_brand] %}
{% assign brand_9 = collections[section.blocks[9].settings.recommended_brand] %}
{% assign brand_10 = collections[section.blocks[10].settings.recommended_brand] %}
{% assign brand_11 = collections[section.blocks[11].settings.recommended_brand] %}
<div class="container mt-60">
  <h2 class="product-line d-flex homepage-header">
    THE BRANDS
    <div class="divider-line"></div>
  </h2>
  <div class="row">
    <div class="col-sm-12 tagline">
      Check out just a few of our curated brands.
    </div>
  </div>
  <div class="row d-none d-sm-flex mt-36">
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_0.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_0.image | img_url: "master" }}" alt="{{ brand_0.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_0.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_1.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_1.image | img_url: "master" }}" alt="{{ brand_1.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_1.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_2.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_2.image | img_url: "master" }}" alt="{{ brand_2.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_2.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_3.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_3.image | img_url: "master" }}" alt="{{ brand_3.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_3.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_4.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_4.image | img_url: "master" }}" alt="{{ brand_4.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_4.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_5.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_5.image | img_url: "master" }}" alt="{{ brand_5.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_5.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row d-none d-sm-flex">
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_6.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_6.image | img_url: "master" }}" alt="{{ brand_6.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_6.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_7.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_7.image | img_url: "master" }}" alt="{{ brand_7.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_7.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_8.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_8.image | img_url: "master" }}" alt="{{ brand_8.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_8.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_9.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_9.image | img_url: "master" }}" alt="{{ brand_9.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_9.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_10.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_10.image | img_url: "master" }}" alt="{{ brand_10.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_10.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2 brand">
      <div class="brand-hover-group">
        <a href="{{ brand_11.url }}">
          <div class="card red-border product">
            <div class="brand-card-img-box">
              <img class="card-img-top img-fluid brand-image" src="{{ brand_11.image | img_url: "master" }}" alt="{{ brand_11.title | upcase }}">
            </div>
            <div class="card-body brand-title">
              {{ brand_11.title | upcase }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- ================================================================================================================================= -->
  <div class="row d-sm-none mt-36">
    <div class="col-6 py-auto">
      <a href="{{ brand_0.url }}">
        <img src="{{ brand_0.image | img_url: "master" }}" alt="{{ brand_0.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
    <div class="col-6 py-auto">
      <a href="{{ brand_1.url }}">
        <img src="{{ brand_1.image | img_url: "master" }}" alt="{{ brand_1.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_0.title | upcase }}
      </p>
    </div>
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_1.title | upcase }}
      </p>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <a href="{{ brand_2.url }}">
        <img src="{{ brand_2.image | img_url: "master" }}" alt="{{ brand_2.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
    <div class="col-6 py-auto">
      <a href="{{ brand_3.url }}">
        <img src="{{ brand_3.image | img_url: "master" }}" alt="{{ brand_3.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_2.title | upcase }}
      </p>
    </div>
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_3.title | upcase }}
      </p>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <a href="{{ brand_4.url }}">
        <img src="{{ brand_4.image | img_url: "master" }}" alt="{{ brand_4.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
    <div class="col-6 py-auto">
      <a href="{{ brand_5.url }}">
        <img src="{{ brand_5.image | img_url: "master" }}" alt="{{ brand_5.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_4.title | upcase }}
      </p>
    </div>
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_5.title | upcase }}
      </p>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <a href="{{ brand_6.url }}">
        <img src="{{ brand_6.image | img_url: "master" }}" alt="{{ brand_6.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
    <div class="col-6 py-auto">
      <a href="{{ brand_7.url }}">
        <img src="{{ brand_7.image | img_url: "master" }}" alt="{{ brand_7.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_6.title | upcase }}
      </p>
    </div>
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_7.title | upcase }}
      </p>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <a href="{{ brand_8.url }}">
        <img src="{{ brand_8.image | img_url: "master" }}" alt="{{ brand_8.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
    <div class="col-6 py-auto">
      <a href="{{ brand_9.url }}">
        <img src="{{ brand_9.image | img_url: "master" }}" alt="{{ brand_9.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_8.title | upcase }}
      </p>
    </div>
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_9.title | upcase }}
      </p>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <a href="{{ brand_10.url }}">
        <img src="{{ brand_10.image | img_url: "master" }}" alt="{{ brand_10.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
    <div class="col-6 py-auto">
      <a href="{{ brand_11.url }}">
        <img src="{{ brand_11.image | img_url: "master" }}" alt="{{ brand_11.title | upcase }}" class="img-fluid brand-image">
      </a>
    </div>
  </div>
  <div class="row d-sm-none">
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_10.title | upcase }}
      </p>
    </div>
    <div class="col-6 py-auto">
      <p class="brand-title">
        {{ brand_11.title | upcase }}
      </p>
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Our Brands",
  "class": "brands-section",
  "blocks": [
    {
      "type": "collection",
      "name": "Recommended Brand",
      "settings": [
        {
          "type": "collection",
          "id": "recommended_brand",
          "label": "Recommended Brand"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Our Brands",
      "category": "Inventory List"
    }
  ]
}
{% endschema %}

{% stylesheet %}

.brand-title {
 font-family: Prompt;
 font-size: 10px;
 font-weight: bold;
 letter-spacing: 1px;
 color: #000000;
 text-align: center;
 height: 33%;
}

.brand-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand-card-img-box {
  height: 67%;
}

.col-sm-2.brand {
  padding: 2px;
}

.brand-hover-group {
  height: 100%;
}

.brand-hover-group > a > .card.product {
  border-radius: 0px;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
