<div class="container">
  <h2 class="product-line d-flex homepage-header mt-60">
    Line Card
    <div class="divider-line"></div>
  </h2>
  <div class="row mt-36">
    {% for collection in collections %}
      {% if collection.template_suffix == "brand" %}
        <div class="col-sm-2 col-6 brand">
          <div class="brand-hover-group">
            <a href="{{ collection.url }}">
              <div class="card red-border product">
                <div class="brand-card-img-box">
                  <img class="card-img-top img-fluid brand-image" src="{{ collection.image | img_url: "master" }}" alt="{{ collection.title | upcase }}">
                </div>
                <div class="card-body brand-title">
                  {{ collection.title | upcase }}
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <h2 class="product-line d-flex homepage-header mt-60">
    Brands A-Z
    <div class="divider-line"></div>
  </h2>
  <div class="row mt-36">
    <ul>
      {%- for collection in collections -%}
        {%- if collection.template_suffix == "brand" -%}
          <li>
            <a href="{{ collection.url }}">
              {{ collection.title | upcase }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</div>

<style>

</style>
